body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2,
h3 {
  margin-top: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 6px;
}

select {
  width: 100%;
}

.error {
  color: rgb(168, 49, 49);
}

.success {
  color: rgb(43, 127, 43);
}

section {
  margin-bottom: 1.5rem;
}

button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
